@use '../../styles/colors' as *;

.services {
	margin: 3rem 6rem;
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: space-around;
	flex-wrap: wrap;

	@media (width < 755px) {
		margin: 1rem 1rem;
	}

	&--background {
		background-color: $color-accent;
		color: $antiflash-white;
	}
}
