@use '../../../../styles/styles.scss' as *;

.service {
	border-radius: 5px;
	width: clamp(200px, 25vw, 304px);
	padding: 16px 16px;
	display: grid;
	gap: 8px;
	justify-items: center;
	text-align: center;
	overflow: hidden;

	&__icon {
		height: 64px;
		width: 64px;
		margin-bottom: 16px;
		& :first-child {
			fill: currentColor;
		}
	}

	&__title {
		margin: 0;
		font-size: $h5;
	}

	&__description {
		margin: 0;
		font-size: $paragraph;
		text-align: center;
	}

	&__shipping {
		margin: 0;
		align-items: center;
		margin-top: 16px;
		font-size: $paragraph;
		display: flex;
		flex-direction: row;
		gap: 8px;
		transition: all 0.1s ease-out;

		&-cart {
			width: 16px;
			fill: currentColor;
		}

		&:hover {
			transform: scale(1.03);
		}
	}
}
