@use '../../styles/styles.scss' as *;

.hero {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.5)
		),
		url('../../assets/images/kid_1.webp');
	background-size: cover;
	background-position: center center;
	height: clamp(400px, 65vw, 750px);
	padding: 0 max(32px, ((100vw - $body-width) / 2)) 64px;
	font-size: clamp($h5, 3vw, $h3);
	color: $color-black-05;
	display: grid;
	place-content: end;
	// text-wrap: balance;

	&__form {
		margin-top: 32px;
		display: flex;
	}

	&__button {
		font-size: $h5;
		background-color: $color-primary;
		border-radius: 0 10px 10px 0;

		&:hover {
			background-color: $color-error;
			color: white;
		}
	}

	&__input {
		padding: 8px 16px;
		width: max(190px, 30%);
		border: none;
		border-radius: 10px 0 0 10px;
	}

	&--margin-0 {
		margin: 0;
	}
}
