@use '../../styles/styles.scss' as *;

.pricing {
	padding: 64px max(32px, ((100vw - $body-width)/2));

	&__title {
		font-size: $h3;
		font-weight: 500;
		text-align: center;
	}

	&__description {
		font-size: $h6;
		font-weight: 400;
		text-align: center;
	}

	&__products {
		list-style: none;
		padding: 0;

		// display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		// place-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;
		gap: 24px;

		& > * {
			flex-basis: 250px;
		}
	}
}
