@use '../../styles/styles.scss' as *;

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 64px max(32px, ((100vw - $body-width) / 2)) 32px;
	gap: 16px;

	@include media(md) {
		grid-template-columns: 1fr;
	}

	&__review {
		&-image {
			width: 80%;
			max-width: 450px;
			aspect-ratio: 1/1;
			object-fit: cover;
		}

		&-comment {
			position: relative;
			margin: 0;
			transform: translate(15%, -48px);
			width: 85%;
		}
	}

	&__properties {
		align-self: stretch;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;

		@include media(sm) {
			grid-template-columns: 1fr;
		}

		&-item {
			padding: 32px;
			display: grid;
			justify-items: center;
			gap: 16px;

			&-icon {
				width: 100px;
				fill: $color-primary;
			}
			&-title {
				margin: 0;
				text-align: center;
				font-weight: 700;
			}
		}
	}

	&--bg {
		background-color: $color-black-05;
	}
}
