@use '../../styles/styles.scss' as *;
.appointments {
	font-family: $font-nunito;
	padding: 64px max(32px, ((100vw - $body-width) / 2));
	background-color: $color-black-05;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	@include media(md) {
		grid-template-columns: 1fr;
	}

	&__image {
		flex-grow: 1;
		// width: clamp(250px, 90vw, 300px);
		width: 250px;
	}

	&__title {
		flex-grow: 1;
		background-color: white;
		margin: 0;
		font-size: $h4;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: calc(8px + 1.5625vw);
		text-align: center;
	}
	&__phone {
		min-width: 256px;
		flex-grow: 1;
		padding: 32px;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}

	&__icon {
		width: 50px;
	}
}
