@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.appointments {
	padding: 4rem 7rem;
	background-color: $antiflash-white;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	@include media(md) {
		padding: 4rem 3rem;
		grid-template-columns: 1fr;
	}

	&__image {
		flex-grow: 1;
		width: 300px;
	}

	&__title {
		flex-grow: 1;
		background-color: $white;
		margin: 0;
		font-size: 35px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	&__phone {
		flex-grow: 1;
		padding: 2rem;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__icon {
		width: 50px;
	}
}
