@use '../../styles/styles.scss' as *;

.about-me {
	padding: 64px max(32px, ((100vw - $body-width)/2));
	background: $color-black-05;
	color: black;
	font-family: $font-nunito;

	&__title {
		font-style: normal;
	}
	&__information {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 64px;

		@include media(sm) {
			gap: 24px;
			grid-template-columns: 1fr;
		}

		& > * {
			display: grid;
			justify-content: stretch;
			gap: 16px;
		}
	}

	&__degree {
		margin: 0;
		font-size: $h4 + 8px;
		&-description {
			font-size: $paragraph;
			color: $color-primary;
			text-align: justify;
		}
	}
	&__service {
		font-size: $h5;
		margin: 0;
		&-description {
			margin: 0 auto;
			font-size: $paragraph;
			text-align: justify;
		}
	}
}
