@use '../../styles/colors' as *;

.about-me {
	padding: 2rem 5rem;
	background-color: $color-tertiary-light;
	@media (width<768px) {
		padding: 2rem 3rem;
	}

	&__title {
		font-style: normal;
	}
	&__information {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
		@media (width<768px) {
			grid-template-columns: 1fr;
		}
	}

	&__degree {
		margin: 0;
		font-size: 40px;
		&-description {
			font-size: 18px;
			color: $color-accent;
		}
	}
	&__service {
		font-size: 30px;
		margin: 0;
		&-description {
			font-size: 18px;
		}
	}
}
