@use '../../../styles/styles.scss' as *;

.product {
	// flex-basis: 300px;
	padding: 8px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;

	&__title {
		margin: 0;
		// display: grid;
		// place-content: center;
		font-size: $h5;
		height: 75px;
	}

	&__price {
		font-size: $h3;
		margin: 0;
		padding: 32px 0;
	}

	&__features {
		flex-grow: 1;
		list-style: none;
		padding: 0;

		&-item {
			margin: 8px 0;
		}
	}

	&__button {
		margin-top: 16px;
		background: $color-gradient;
		&:hover {
			background-position: 90px;
		}
	}
}
